.aggregate-rating {
    display: inline-block;
    transform: translate(0px, -4px);
    margin-right: 10px;
}

.filter-rating {
    display: inline-block;
    transform: translate(0px, -4px);
    margin-right: 10px;  
}

.review-rating {
    display: inline-block;
    transform: translate(0px, -4px);
    margin-right: 10px;
}

.review-content {
    margin-left: 15px;
}

.paginator {
    display: inline-block;
}