<div>
    <mat-card *ngFor="let review of reviews$ | paginate: { itemsPerPage: 10, currentPage: p }" class="mb-4">
        <mat-card-header>
            <mat-card-title>
                <span class="review-rating">Rating: {{ review.rating }}</span>
                <span *ngIf="review.rating <= 1.4">
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="review.rating <= 2.4 && review.rating > 1.5">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="review.rating <= 3.5 && review.rating > 2.5">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="review.rating <= 4.4 && review.rating > 3.5">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="review.rating <= 5 && review.rating > 4.4">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span> 
            </mat-card-title>
            <mat-card-subtitle>
                Date: {{ review.publish_date | date: 'mediumDate' }}
            </mat-card-subtitle>
            <mat-card-subtitle>
                Author: {{ review.author }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="review-content">
                {{ review.body }}
            </div>
        </mat-card-content>
        <mat-card-footer>
            <mat-divider inset></mat-divider>
        </mat-card-footer>
    </mat-card>
    <pagination-controls (pageChange)="p = $event" class="mb-4 paginator"></pagination-controls>
</div>
