<div>
    <mat-card class="mb-4">
        <mat-card-header>
            <mat-card-title>
                <span class="aggregate-rating">Average Rating for Romeo and Juliet: {{ average }}</span>
                <span *ngIf="average < 1">
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="average <= 2 && average > 1">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="average <= 3 && average > 2">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="average <= 4 && average > 3">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="average <= 5 && average > 4">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-footer>
            <mat-divider inset></mat-divider>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search reviews</mat-label>
                <textarea 
                    matInput 
                    placeholder="Ex. It makes me feel..."
                    name="search"
                    [(ngModel)]="search">
                </textarea>
                <button mat-button (click)="handleSearch(search)">Search</button>
            </mat-form-field>
        </form>
    </mat-card>
    <mat-card class="mb-4">
        <mat-card-header>
            <mat-card-title>
                <span class="filter-rating">Filter Ratings</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-button-toggle-group class="mb-4" [value]="ratingScore" (change)="handleRatingFilter($event.value)">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="clear">Clear</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-card-content>
        <mat-card-footer>
            <mat-divider inset></mat-divider>
        </mat-card-footer>
    </mat-card>
    <mat-card *ngFor="let review of reviews$ | paginate: { itemsPerPage: 10, currentPage: p }" class="mb-4">
        <mat-card-header>
            <mat-card-title>
                <span class="review-rating">Rating: {{ review.rating }}</span>
                <span *ngIf="review.rating <= 1.4">
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="review.rating <= 2.4 && review.rating > 1.5">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="review.rating <= 3.5 && review.rating > 2.5">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="review.rating <= 4.4 && review.rating > 3.5">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
                <span *ngIf="review.rating <= 5 && review.rating > 4.4">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </span>
            </mat-card-title>
            <mat-card-subtitle>
                Date: {{ review.publish_date | date: 'mediumDate' }}
            </mat-card-subtitle>
            <mat-card-subtitle>
                Author: {{ review.author }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="review-content">
                {{ review.body }}
            </div>
        </mat-card-content>
        <mat-card-footer>
            <mat-divider inset></mat-divider>
        </mat-card-footer>
    </mat-card>
    <pagination-controls (pageChange)="p = $event" class="mb-4 paginator"></pagination-controls>
</div>